---
layout: parent.hbs
---

{{#each collections.post}}
<div class="list">
  <p class="list-date">{{this.data.date}}</p>
  <a class="list-title" href="{{this.url}}">{{this.data.title}}</a>
</div>
{{/each}}