---
layout: parent.hbs
---

<div class="post">
  <div class="post-title">{{{title}}}</div>

  {{!-- tbh, not quite sure why <p></p> doesn't work here.
  might have something todo with the content's tag --}}
  <div class="post-content">{{{content}}}</div>
</div>