[submodule "themes/ezhil"]
	path = themes/ezhil
	url = https://github.com/vividvilla/ezhil
[submodule "themes/ink"]
	path = themes/ink
	url = https://github.com/knadh/hugo-ink.git
[submodule "themes/hermit"]
	path = themes/hermit
	url = https://github.com/Track3/hermit.git
[submodule "themes/kiss"]
	path = themes/kiss
	url = https://github.com/ribice/kiss.git
[submodule "themes/hugo-notepadium"]
	path = themes/hugo-notepadium
	url = https://github.com/cntrump/hugo-notepadium.git
