$dark-mode: true;
$max-width: 720px;

// as a baseline: hsl(0, 0, 20) is #333;

$text-color: hsl(0, 0%, 20%);
$background-color: hsl(0, 0%, 100%);
$text-color-darker: hsl(0, 0%, 10%);
$text-color-lighter: hsl(0, 0%, 30%);
$text-color-lightest: hsl(0, 0%, 40%);

@if $dark-mode {
  $text-color: hsl(0, 0%, 80%);
  $background-color: hsl(0, 0%, 20%);
  $text-color-darker: hsl(0, 0%, 90%);
  $text-color-lighter: hsl(0, 0%, 70%);
  $text-color-lightest: hsl(0, 0%, 60%);
}