// === imports ===
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;400&family=Literata:ital,wght@0,400;0,700;1,400&display=swap");

// === mixins ===
@mixin thick-title {
  font-size: 5rem;
  font-weight: 700;
}

@mixin monospace-font {
  font-family: "Inconsolata", monospace;
}

// === variables ===
$max-width: 720px;

// might change in the future
$primary-color: hsl(275, 70%, 65%);

$background-color: hsl(0, 0%, 100%);
$text-color: hsl(0, 0%, 20%);
$text-color-light-1: hsl(0, 0%, 30%);
$text-color-light-2: hsl(0, 0%, 40%);
$text-color-light-3: hsl(0, 0%, 50%);
$text-color-light-4: hsl(0, 0%, 60%);
$text-color-light-5: hsl(0, 0%, 70%);
$underline-color: $text-color-light-5;

$dark-mode: false;
@if $dark-mode {
  $background-color: hsl(0, 0%, 15%);
  $text-color: hsl(0, 0%, 100%);
  $text-color-light-1: hsl(0, 0%, 90%);
  $text-color-light-2: hsl(0, 0%, 80%);
  $text-color-light-3: hsl(0, 0%, 70%);
  $text-color-light-4: hsl(0, 0%, 60%);
  $text-color-light-5: hsl(0, 0%, 50%);
  $underline-color: $text-color-light-3;
}

// === css ===

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.5rem;
  font-family: "Literata", serif;
  color: $text-color;
  background-color: $background-color;
}

a {
  text-decoration: none;
  color: $text-color;
}