// === imports ===
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;400&family=Literata:ital,wght@0,400;0,700;1,400&display=swap");

// === mixins ===
@mixin thick-title {
  font-size: 3rem;
  font-weight: 700;
}

@mixin monospace-font {
  font-family: "Inconsolata", monospace;
}

@mixin date-text {
  font-size: 1.5rem;
  color: $text-color-light-5;
}

// === variables ===
$max-width: 720px;

// might change in the future
$primary-color: hsl(275, 70%, 65%);

$background-color: hsl(0, 0%, 100%);
$text-color: hsl(0, 0%, 20%);
$text-color-light-1: hsl(0, 0%, 30%);
$text-color-light-2: hsl(0, 0%, 40%);
$text-color-light-3: hsl(0, 0%, 50%);
$text-color-light-4: hsl(0, 0%, 60%);
$text-color-light-5: hsl(0, 0%, 70%);
$underline-color: $text-color-light-5;

$dark-mode: false;
@if $dark-mode {
  $background-color: hsl(0, 0%, 15%);
  $text-color: hsl(0, 0%, 100%);
  $text-color-light-1: hsl(0, 0%, 90%);
  $text-color-light-2: hsl(0, 0%, 80%);
  $text-color-light-3: hsl(0, 0%, 70%);
  $text-color-light-4: hsl(0, 0%, 60%);
  $text-color-light-5: hsl(0, 0%, 50%);
  $underline-color: $text-color-light-3;
}

// === css ===

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

// without this margin bottom, there's no line break
// in the post
p {
  margin-bottom: 1rem;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.75rem;
  font-family: "Literata", serif;
  color: $text-color;
  background-color: $background-color;
}

a {
  text-decoration: none;
  color: $text-color;
}

code {
  @include monospace-font;
  // make some color stuff here... maybe
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include monospace-font;
  padding-top: 1rem;
}

ul,
ol {
  padding-left: 2rem;
}

.container {
  max-width: $max-width;
  margin: 0 auto;
  padding: 1.5rem 1rem 0 1rem;
}

.nav {
  display: flex;
  justify-content: space-between;
  padding-bottom: 3rem;

  &-title {
    @include monospace-font;
    font-size: 3rem;
    font-weight: 200;
  }

  // maybe use menu instead
  &-links {
    display: flex;
    // what's the difference between align items and justify content?
    align-items: center;

    a {
      margin-left: 3rem;
      color: $text-color-light-3;
    }
  }
}

.list {
  padding-bottom: 3rem;

  &:last-of-type {
    padding-bottom: 5rem;
  }

  &-date {
    @include date-text;
  }

  &-title {
    @include thick-title;
  }
}

.post {
  &-title {
    @include thick-title;
  }

  &-date {
    @include date-text;
    padding-bottom: 1rem;
  }

  &-content {
    padding-bottom: 3rem;
    a {
      text-decoration: underline;
      text-underline-position: above;
      text-decoration-color: $underline-color;
    }
  }
}

// breakpoint is arbitrary
@media (min-width: 600px){
  html {
    font-size: 11px;
  }
}

@media (min-width: 1200px){
  html {
    font-size: 12px;
  }
}